// Colors
$color-none: rgba(255, 255, 255, 0);
$color-primary: #55877f;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-light: #f8f9fa;
$color-dark: #343a40;
$color-faded: #d3d6d8;
$color-white: #fff;

// Shadows
$shadow-small: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
$shadow-medium: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.1);
$shadow-large: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);