@import './base/utils';
@import './ui/buttons';
@import './ui/links';

p {
    margin: 0;
}

html, body {
    width: 100vw;
    height: 100vh !important;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}
