@import '../../assets/scss/base/variables.scss';

.label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    cursor: pointer;
    @extend .unselect;

    & input[type="checkbox"] {
        display: none;

        &:checked + .checkbox-view {
            color: $color-dark;
            background-color: $color-light;
            border-color: $color-primary;
        }
    }
    & .checkbox-view {
        width: 20px;
        height: 20px;
        border-radius: $round-medium;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-none;
        background-color: $color-light;
        border: 1px solid $color-faded;
        transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
        font-size: 0.6rem;
    }
    &:hover .checkbox-view {
        border-color: $color-primary;
    }
}